---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="Blog - Andreas Böhrnsen">
  {
    sortedPosts.map((post) => {
      const summary = post.data.description || post.body.split("READMORE")[0].trim();
      return (
        <article>
          <h1>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </h1>

          <header>
            <time datetime={post.data.date.toISOString().split("T")[0]}>
              {post.data.date.toLocaleDateString("en-US", {
                month: "short",
                day: "numeric",
                year: "numeric",
              })}
            </time>
            <ul class="tags">
              {post.data.tags.map((tag) => (
                <li>
                  <a href={`/blog/tags/${tag}`}>{tag}</a>
                </li>
              ))}
            </ul>
          </header>

          <main>
            <p>{summary}</p>
            <a href={`/blog/${post.slug}`}>Read more...</a>
          </main>
        </article>
      );
    })
  }
</Layout>