<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      <%=h current_page.data.title || "Andreas Böhrnsen - Consulting and Development" %>
    </title>
    <meta name="description" content="IT consultant and full-stack web engineer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Andreas Böhrnsen">
    <%= yield_content :meta_tags %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <%= stylesheet_link_tag "/assets/stylesheets/tailwind" %>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body class="<%= page_classes %>">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <h1><%= link_to "Andreas Böhrnsen", "/" %></h1>
      <h2>Consulting and Development</h2>
      <nav>
        <ul>
          <% data.navigation.main.each do |n| %>
            <li><%= link_to n.title, n.href %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <section class="copyright">&copy; Andreas Böhrnsen 2013 - <%= Date.today.year %></section>
      <section class="links">
        <% data.navigation.sub.each do |n| %>
          <%= link_to n.title, n.href %>
        <% end %>
      </section>
      <section class="social">
        <ul>
        <% data.navigation.social.each do |n| %>
          <li><a href="<%= n.href %>"><%= icon n.icon %></a></li>
        <% end %>
        </ul>
      </section>
    </footer>

    <%= javascript_include_tag "all" %>

    <% if build? %>
      <%= partial "google_analytics" %>
    <% end %>
  </body>
</html>
